* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;
}

body,
html {
  overflow: hidden;
  /* cursor: none; */
}

canvas {
  z-index: 1;
}

.button {
  position: absolute;
  opacity: 0.5;
  visibility: hidden;
}

.down {
  width: 90%;
  height: 5%;
  bottom: 5%;
  left: 5%;
}

.up {
  width: 90%;
  height: 5%;
  top: 5%;
  left: 5%;
}

.left {
  width: 2.5%;
  height: 90%;
  top: 5%;
  left: 5%;
}

.right {
  width: 2.5%;
  height: 90%;
  top: 5%;
  right: 5%;
}
