@import url("https://rsms.me/inter/inter.css");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: #f0f0f0;
  font-family: "Inter";
}

a {
  color: #f0f0f0;
}

a {
  pointer-events: all;
  color: #f0f0f0;
  text-decoration: none;
}

svg {
  fill: #f0f0f0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  font-family: "Inter";
  width: 100px;
  border: none;
  background-image: none;
  background-color: transparent;
  color: transparent;
  caret-color: #555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
}

input:focus {
  outline: none;
  box-shadow: none !important;
}

.content {
  width: 1820px;
  height: 1080px;
  background: #f0f0f0;
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}

.wrapper {
  padding: 0;
  width: 1820px;
  height: 1080px;
  transform: scale(1);
  transform-origin: top left;
  pointer-events: auto;
}

::-webkit-scrollbar {
  display: none;
}
